*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
    
.header{
    padding: 1rem;
    color: #7fa8d6;
    margin-bottom: 1rem;
}
.navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
    background-color: #fff2b2;
}

.nav-links{
    display: flex;
    gap: 1rem;
    margin-top: 10px;
}

ul{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
}

.bio-hero{
    flex-basis: 100%;
    background-color: #a8c6e7;
}

.card-grid{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
}

img{
    width: 100%;
}

.card{
    background-color: #ffe08a;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 2px 4px;
}

footer{
    background-color: #fff7d6;
    text-align: center;
    padding: 1rem;
    color: #7fa8d6;
    margin-top: 1rem;
}

@media (min-width: 768px){
    .navbar{
        flex-direction: row;
        justify-content: space-between;
    }
    .card-grid{
        flex-direction: row;
    }
    .card{
        flex: 1;
    }
}