*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
    background-color: #fff2b2;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 10px;
    list-style: none;
}

ul{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
}

.bio-hero{
    flex-basis: 100%;
    color: white;
    background-color: #ffaf5a;;
    padding: 2rem;
}

.card-grid{
    display: flex;
    flex-direction: column;
    background-color: #ffd44c;
    gap: 1.5rem;
    padding: 1rem;
}

.card{
    flex-basis: 100%;
    background-color: #ffe08a;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 2px 4px;
}

footer{
    background-color: #fff7d6;
    text-align: center;
    padding: 1rem;
    color: black;
    margin-top: 1rem;
}

img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 0.5rem;
}

@media (min-width: 768px){
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 40px;
    }
    .nav-links{
        flex-direction: row;
        gap: 1.5rem;
        margin-top: 0;
    }
    .card-grid{
        flex-direction: row;
        justify-content: space-between;
    }
    .card{
        flex: 1;
    }
}